a:link {
    color: white;
} 

.header {
    display: flex;
    color: white;
    background-color: #1f2937;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    
}

.header ol {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 28px;
     
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.APOD {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1f2937;
}
#isearch {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.search-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
#sImage {
    height: 400px;
    width: 600px;
}
.next-image {
    height: 100px;
    width: 100px;
}